{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
  <!-- Link to external CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></link>
<link rel="stylesheet" href="{% static 'css/forgot_pass.css' %}"></link>
</head>
<body>
    <!-- Header -->
    <header class="header bg-brown position-relative">
        <div class="logo-container position-absolute top-100 start-50 translate-middle">
            <img src="logo.png" alt="Logo" class="logo img-fluid">
        </div>
    </header>

    <!-- Forgot Password Form -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="forgot-password-box text-center p-4 rounded">
            <h2 class="text-white mb-4">FORGOT PASSWORD</h2>
            <form id="forgot-password-form"  action="{% url 'login:login_index' %}" >
                <div class="mb-3 text-start">
                    <label for="password" class="form-label text-white">New Password:</label>
                    <input type="password" id="password" name="password" class="form-control">
                    <p class="text-warning mt-2 password-requirement">must be at least 8 characters long.</p>
                </div>
                <div class="mb-3 text-start">
                    <label for="confirm-password" class="form-label text-white">Re-confirm Password:</label>
                    <input type="password" id="confirm-password" name="confirm-password" class="form-control">
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-warning me-3">Confirm</button>
                    <a href="{% url 'login:login_index' %}" class="cancel-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer"></footer>
<!-- Link to external JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>
</body>
</html>
