.right-popup {
    position: fixed;
    top: 20px;
    right: -300px; /* Initially hidden off-screen */
    width: 250px;
    background-color: #141414; /* Yellow background for warning */
    color: #FFFFFF; /* Dark yellow text */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 9999;
}

.right-popup.show {
    right: 20px; /* Slide in from the right */
}

/* Table styling */
table.table-hover {
    width: 100%;
    border-collapse: collapse;
}

table.table-hover th, table.table-hover td {
    text-align: left;
    padding: 8px;
}

/* Button styling */
#delete-button {
    transition: background-color 0.3s;
}

#delete-button:hover {
    background-color: #ffcccc;
}

/* Category color circle */
.category-color-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}

/* Modal styles */
.modal-content {
    border-radius: 10px;
}

.empty-state {
    background-color: white; /* White background for the entire empty-state section */
    padding: 40px 50px 120px 50px; /* Top, right, bottom, left padding */
    border-radius: 10px; /* Rounded corners for the section */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase the spread and blur to make the shadow more visible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px; /* Limit the width of the empty state section */
    margin: 0 auto; /* Center horizontally */
}


.empty-state h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.empty-state p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
    font-weight: bold;
}

.empty-state .btn-primary {
    font-size: 16px;
    padding: 10px 20px;
}

h1{
    font-weight: bold;
    color: black;
}

.btn-custom {
    background-color: #FFFFFF;
    color: #B20727;
    border: none !important
    
}
.btn-custom:hover {
    background-color: #F4F4F4;
    color: #B20727;
}
.btn-custom:active {
    background-color: #E9E9E9 !important; /* Custom active background color */
    color: #B20727 !important; /* Custom active text color */
    transform: scale(0.98); /* Optional: Add a slight scale effect */
    box-shadow: none !important; /* Remove Bootstrap's box-shadow */
    border: none !important
}


.btn-custom-save{
    background-color: #FDF21D;
    color: #50260E;
}

.btn-custom-save:hover{
    background-color: #f7ec2a;
    color: #50260E;
}

.btn-custom-save:active{
    background-color: #e2d92d !important; /* Custom active background color */
    color: #50260E !important; /* Custom active text color */
}

.btn-custom-cancel{
    background-color: #B20727;
    color: #FFFFFF;
}

.btn-custom-cancel:hover{
    background-color: #9e0722;
    color: #FFFFFF;
}

.btn-custom-cancel:active{
    background-color: #8f061f !important; 
    color: #FFFFFF !important;
}
.card {
    background-color: #EED659;
}
.custom-card {
    max-width: 70vh; /* Set a maximum width */
    min-height: 70vh;
    margin: auto; /* Center the card horizontally */
    background-color: #EED659;
    border-radius: 5px;
}
.card-icon {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 5vh;
}
p, h5, label, h4 {
    color: black !important;
}

/* Style the search form container */
.search-form {
    display: flex;
    align-items: center;
    width: 100%; /* Full width if needed */
    border: 1px solid #ccc; /* Border around the search bar */
    border-radius: 7px; /* Rounded edges for a smooth look */
    overflow: hidden; /* Ensure no overflow */
    background-color: #f9f9f9; /* Optional background color */
}

/* Style the search button */
.search-button {
    background-color: transparent; /* Transparent background */
    border: none; /* Remove button border */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px; /* Adjust padding */
    cursor: pointer;
    height: 100%; /* Make it stretch vertically */
}


/* Style the search input */
.search-input {
    border: none; /* Remove default border */
    padding: 5px; /* Padding for text */
    flex: 1; /* Take up remaining space */
    outline: none; /* Remove outline */
    font-size: 1rem;
    background-color: transparent; /* Match form background */
}

/* Add focus styling for input */
.search-input:focus {
    outline: none; /* Remove default focus outline */
    background-color: #fff; /* Optional background color on focus */
}


/* General Form Container */
.form-container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
