body {
    background-color: #D5BF4D;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #50260E;
    height: 150px;
    position: relative;
}

.logo-container {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    border: 5px solid #50260E;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 100%;
    height: auto;
}

.footer {
    background-color: #50260E;
    height: 50px;
    width: 100%;
}

.register-password-box {
    background-color: #B20727;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    margin-top: 150px;
    margin-bottom: 50px;
}

.register-password-box h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.register-password-box label {
    font-weight: bold;
    color: #fff;
}

.d-flex.justify-content-center {
    gap: 15px;
}

.btn-warning {
    font-weight: bold;
    padding: 10px 20px;
    background-color: #FDF21D;
    border: none;
    border-radius: 5px;
}

.btn-warning:hover {
    background-color: #FCD307;
    cursor: pointer;
}

.cancel-link {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
    padding-top: 10px;
}

.cancel-link:hover {
    text-decoration: underline;
}


/* Popup */
.right-popup {
    position: fixed;
    top: 20px;
    right: -300px;
    width: 250px;
    background-color: #141414;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 9999;
}

.right-popup.show {
    right: 20px;
}

