
{% extends "base.html" %}
{% load static %}
{% block title %}EDIT CATEGORY{% endblock %}
{% block content %}
<h1>EDIT CATEGORY</h1>

<div id="right-popup" class="right-popup">
    <div class="popup-content">
        <span id="popup-message"></span>
    </div>
</div>

{% if messages %}
    <div style="display:none;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'edit_category' category.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="category-name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="category-name" name="name" value="{{ category.name }}" required>
                </div>
                <div class="position-relative">
                    <div class="d-flex align-items-center">
                        <div class="color-options">
                            {% for color in predefined_colors %}
                            <div class="color-box {% if category.color == color %}selected{% endif %}" data-color="{{ color }}" style="background-color: {{ color }};">
                                <span class="check">✔</span>
                            </div>
                            {% endfor %}
                            <div class="color-picker">
                                <div class="wheel"></div>
                                <input type="color" id="custom-color" value="{{ category.color }}">
                            </div>
                        </div>
                        <div class="selected-color-container">
                            Selected Color
                            <div class="selected-color-box" id="selected-color-box" style="background-color: {{ category.color }}"></div>
                        </div>
                    </div>
                    <input type="hidden" id="selected-color" name="color" value="{{ category.color }}">
                </div>
                <div class="mt-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-secondary me-2" id="cancel-button" data-page="{{ page }}" data-rows="{{ rows }}">Cancel</button>
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/edit_category.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/edit_category.css' %}">
{% endblock %}
