{% extends "base.html" %}
{% load static %}
{% block title %}Edit Category{% endblock %}
{% block content %}

<div id="right-popup" class="right-popup">
    <div class="popup-content">
        <span id="popup-message"></span>
    </div>
</div>

{% if messages %}
    <div style="display:none;">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <form method="POST" action="{% url 'edit_category' category.id %}">
                {% csrf_token %}
                <div class="mb-3">
                    <h4 style="font-weight:bold; text-align:left;">Name</h4>
                    <input type="text" class="form-control underline-input" id="category-name" name="name" value="{{ category.name }}" data-initial-name="{{ category.name }}" data-category-id="{{ category.id }}" required>
                    <span id="category-name-error" style="color: red; display: none;">Category name already exists.</span>
                </div>
                <div class="position-relative">
                    <div class="d-flex align-items-center">
                        <div class="color-options">
                            {% for color in predefined_colors %}
                            <div class="color-box {% if category.color == color %}selected{% endif %}" data-color="{{ color }}" style="background-color: {{ color }};">
                                <span class="check">✔</span>
                            </div>
                            {% endfor %}
                            <div class="color-picker">
                                <div class="wheel"></div>
                                <input type="color" id="custom-color" value="{{ category.color }}">
                            </div>
                        </div>
                        <div class="selected-color-container">
                            <label for="category-name">Selected Color</label>
                            <div class="selected-color-box" id="selected-color-box" style="background-color: {{ category.color }}"></div>
                        </div>
                    </div>
                    <input type="hidden" id="selected-color" name="color" value="{{ category.color }}">
                </div>
                <div class="mt-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-custom btn-custom-cancel me-2" id="cancel-button" data-page="{{ page }}" data-rows="{{ rows }}">Cancel</button>
                    <button type="submit" class="btn btn-custom btn-custom-save">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'css/edits_category.css' %}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/edit_categorysxs.js' %}"></script>

{% endblock %}
