{% extends "base.html" %}
{% load static %}

{% block title %}Order Details{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/item_request_details.css' %}">
{% endblock stylesheet %}




{% block content %}
<div id="right-popup" class="right-popup">
    <div class="popup-content">
        <span id="popup-message"></span>
    </div>
</div>

{% if messages %}
    <div style="display:none;"> <!-- Hide messages but include them for the script -->
        {% for message in messages %}
            <p></p>
        {% endfor %}
    </div>
{% endif %}

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
            <div class="card bg-secondary text-white shadow-sm">
                <div class="card-header text-center">
                    <h5 class="mb-0">ITEM REQUEST NO. {{item_request.id }}</h5>
                    <p class="mb-0" >{{ item_request.status }}</p>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="text-start">
                            <p class="mb-1"><strong>Date:</strong> {{ item_request.date }}</p>
                            <p class="mb-1"><strong>Ordered by:</strong> To be added</p>
                        </div>
                        <div class="text-start">
                            <p class="mb-1"><strong>Total Quantity:</strong> {{item_request.total_qty}} </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between mb-3">
                        <div class="text-start">
                            <p class="mb-1"><strong>Destination store:</strong></p>
                            <p class="mb-1">Coffyy</p>
                            <p class="mb-1">address</p>
                        </div>
                        {% if item_request.denial_reason %}
                        <div class="text-start">
                            <p class="mb-1"><strong>Reason for denial:</strong></p>
                            <p class="mb-1">{{ item_request.denial_reason}}</p>
                        </div>
                        {% else %}
                        {% endif %}
                    </div>
                    {% if item_request.notes %}
                    <div class="d-flex justify-content-between mb-3">
                        <div class="text-start">
                            <p class="mb-1"><strong>Notes:</strong></p>
                            <p class="mb-1">{{item_request.notes}}</p>
                        </div>
                    </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table text-white">
                            <thead>
                                <tr>
                                    <th>Items</th>
                                    <th>Quantity</th>
                                    <th>Purchase Cost</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in items %}
                                
                                <tr> 
                                    <td class="text-center">{{item.item.name}}</td>
                                    <td class="text-center">{{item.qty}}</td>
                                    <td class="text-center">{{item.purchase_cost}}</td>
                                    <td class="text-center">{{item.amount}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3" class="text-end">Total</th>
                                    <th>{{item_request.total_amount}}</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-back"  href="{% url 'item-request' %}?page=1&rows=10">BACK</a>
                    <div class="d-flex gap-2">

                        {% if item_request.status == Denied or item_request.status == Approved %}
                        <a class="btn btn-success" href="">APPROVE</a>
                        <a class="btn btn-danger">DENY</a>
                        <a class="btn btn-primary" href="{% url 'edit-item-request' id=item_request.id %}">EDIT</a>
                        {% endif %}
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock content %}






{% block scripts %}


{% endblock scripts %}


