{% extends 'base.html' %}

{% block title %}Add Employee{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Add Employee</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.first_name.label_tag }} 
            {{ form.first_name }}
        </div>
        <div class="mb-3">
            {{ form.middle_name.label_tag }} 
            {{ form.middle_name }}
        </div>
        <div class="mb-3">
            {{ form.last_name.label_tag }} 
            {{ form.last_name }}
        </div>
        <div class="mb-3">
            {{ form.contact_number.label_tag }} 
            {{ form.contact_number }}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }} 
            {{ form.email }}
        </div>
        <button type="POST" class="btn btn-primary">Add Employee</button>
    </form>
</div>
{% endblock %}
