{% extends 'base.html' %}

{% block title %}Employee List{% endblock %}

{% block content %}
<h1>Employee List</h1>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Contact Number</th>
        </tr>
    </thead>
    <tbody>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.contact_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'employee_management:add_employee' %}" class="btn btn-primary">Add Employee</a>
{% endblock %}
