{% extends "base.html" %}
{% load static %}
{% block title %}Coffy Lattes and Pages Cafe{% endblock %}

{% block content %}
<h1>Dashboard</h1>
<!-- Link to external CSS -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"></link>
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}"></link>

<div class="container py-5">
    <div class="custom-row">
        <!-- First Row -->
        <div class="card card-1" onclick="window.location.href='{% url 'item_list:item_list_index' %}?stock_alert=low'">
            <h4 class="card-title">{{ low_stock_count }}</h4>
            <h5 class="card-title">Low Stock Items</h5>
        </div>
        <div class="card card-2" onclick="window.location.href='{% url 'item_list:item_list_index' %}'">
            <h4 class="card-title">{{ total_items_count }}</h4>
            <h5 class="card-title">Total Items</h5>
        </div>
        <div class="card card-3">
            <h4 class="card-title">3</h4>
            <h5 class="card-title">Pending Requests</h5>
        </div>
        <div class="card card-4" onclick="window.location.href='{% url 'suppliers' %}'">
            <h4 class="card-title">{{ supplier_count }}</h4>
            <h5 class="card-title">Suppliers</h5>
        </div>
    </div>
    <div class="custom-row">
        <!-- Second Row -->
        <div class="card card-5" onclick="window.location.href='{% url 'item_categories_index' %}'">
            <h4 class="card-title">{{ category_count }}</h4>
            <h5 class="card-title">Categories</h5>
        </div>
        {% if user.role == "owner" %}  <!-- Only owner can view employees -->
        <div class="card card-6">
            <h4 class="card-title">6</h4>
            <h5 class="card-title">Employees</h5>
        </div>
        {% endif %}
        <div class="card card-7">
            <h4 class="card-title">7</h4>
            <h5 class="card-title">Incoming Products</h5>
        </div>
    </div>
</div>

<!-- Link to external JS -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
