{% extends "base.html" %}
{% load static %}

{% block title %}Add Supplier{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/create_purchase_order.css' %}">
<link rel="stylesheet" href="{% static 'css/add_supplier.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css" />

{% endblock stylesheet %}

{% block content %}
<h1>Add Supplier</h1>
<br>

<div id="alert-popup">
    <span id="alert-message"></span>
</div>


<form action="{% url 'add-supplier' %}?page=1&rows=10" method="post" id="supplier-form" name="supplier-form">
    {% csrf_token %}
    <div class="container my-4">
        <!-- Supplier Section -->
        <div class="form-section">
            <div class="row">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <input type="text" name="supplier-name" id="supplierName" class="form-control" required placeholder="Supplier Name">
                    </div>

                <div class="col-md-6 mb-3">
                    <label for="contact-person" class="form-label d-flex ">Contact Person</label>
                    <input type="text" name="contact-person" id="contact" class="form-control" required>
                </div>
                <div class="col-md-6 mb-3">
                    <label for="contact-person" class="form-label d-flex ">Contact Number</label>
                    <input type="text" name="contact-number" id="contact" class="form-control" required
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" 
                    >
                </div>
                <div class="col-md-6 mb-3">
                    <label for="email" class="form-label d-flex ">Email</label>
                    <input type="email" name="email" id="email" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="website" class="form-label d-flex ">Website</label>
                    <input type="text" name="website" id="website" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="text" class="form-label d-flex ">Social Media</label>
                    <input type="text" name="social-media" id="" class="form-control">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="province" class="form-label d-flex ">Province</label>
                    <select id="province" name="province" class="form-control" required>
                        <option value="" selected disabled>Select province</option>
                      {% for province in provinces %}
                        <option value="{{province.code}}">{{province.name}}</option>
                      {% endfor %}
                    </select>
                    <input type="hidden" name="province-name" id="province-name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="municipality" class="form-label d-flex ">Municipality</label>
                    <select id="municipality" name="municipality" class="form-control" required disabled>
                      
                    </select>
                    <input type="hidden" name="municipality-name" id="municipality-name">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="barangay" class="form-label d-flex ">Barangay</label>
                    <select id="barangay" name="barangay" class="form-control" required disabled>
                      
                    </select>
                    <input type="hidden" name="barangay-name" id="barangay-name">
                </div>
                <div class="col-md-12 mb-3">
                    <label for="purchaseOrderDate" class="form-label d-flex">Zip Code</label>
                    <input type="text" name="zip-code" id="zip-code" class="form-control"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))" 
                    >
                </div>
                <div class="col-md-12 mb-3">
                    <label for="purchaseOrderDate" class="form-label d-flex ">Street Name, Building, House No.</label>
                    <input type="text" name="specific-location" id="" class="form-control" required> 
                </div>
            </div>
            <div class="mb-3 d">
                <label for="notes" class="form-label d-flex">Notes</label>
                <textarea name="notes" class="form-control" rows="3" id=""></textarea>
            </div>
        </div>

    </div>


        <!-- Action Buttons -->
    <div class="btn-group d-flex flex-wrap justify-content-end gap-4">
            <div class="d-flex justify-content-center">
                <a class="btn btn-custom btn-custom-cancel fw-bold px" href="{% url 'suppliers' %}?page=1&rows=10">
                    CANCEL
                </a>
            </div>    

            <div class="d-flex justify-content-center">
                <button type="submit" id="save" class="btn btn-custom btn-custom-save fw-bold px">
                    SAVE
                </button>
            </div>       
    </div>
</form>


{% endblock %}

{% block scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="{% static 'js/address.js' %}"></script>
<script src="{% static 'js/check_supplier.js' %}"></script>
{% endblock scripts %}