#alert-popup {
    position: fixed;
    top: 20px;
    right: -300px; /* Start off-screen */
    z-index: 9999;
    width: 300px;
    padding: 10px;
    background-color: #dc3545; /* Red background */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease; /* Smooth slide-in animation */
}

#alert-popup.show {
    right: 20px; /* Slide into view */
}


.select2-container--default .select2-selection--single {
    background-color: #f9f9f9; /* Light background */
    border: none;
    border-bottom: 1px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    height: 2em; /* Height of the dropdown */
    display: flex;
    align-items: center; /* Center text vertically */
    font-size: 2em; /* Font size */
}

.select2-container--custom-theme .select2-selection--single{
    background-color: #f9f9f9; /* Light background */
    border: none;
    border-bottom: 2px solid #ccc; /* Border color */
    border-radius: 4px; /* Rounded corners */
    height: 2em; /* Height of the dropdown */
    display: flex;
    align-items: center; /* Center text vertically */
    font-size: 1em; /* Font size */
    min-width: 10em;
}

.form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

td{
    background-color: #f9f9f9!important; 
}
.autofill{
    margin-bottom: 1em;
}

input[type=number] {
    -moz-appearance: textfield;
}
.no-item-quantity {
    border: 2px solid #B20727; /* Change border thickness and color */
    border-radius: 5px;        /* Optional: Rounded corners */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#amount, #items-total-amount{
    border: none;
    max-width: 10em;
    background-color: #f9f9f9; /* Light background */

}


.btn-custom {
    border: none !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 10em;
    
}

.btn-custom:active {
    transform: scale(0.98); /* Optional: Add a slight scale effect */
    box-shadow: none !important; /* Remove Bootstrap's box-shadow */
    border: none !important
}

.btn-custom-save{
    background-color: #FDF21D;
    color: #50260E;
}

.btn-custom-save:hover{
    background-color: #f7ec2a;
    color: #50260E;
}

.btn-custom-save:active{
    background-color: #e2d92d !important; /* Custom active background color */
    color: #50260E !important; /* Custom active text color */
}

.btn-custom-cancel{
    background-color: #B20727;
    color: #FFFFFF;
}

.btn-custom-cancel:hover{
    background-color: #9e0722;
    color: #FFFFFF;
}

.btn-custom-cancel:active{
    background-color: #8f061f !important; 
    color: #FFFFFF !important;
}

