#alert-popup {
    position: fixed;
    top: 20px;
    right: -300px; /* Start off-screen */
    z-index: 9999;
    width: 300px;
    padding: 10px;
    background-color: #dc3545; /* Red background */
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: right 0.5s ease; /* Smooth slide-in animation */
}

#alert-popup.show {
    right: 20px; /* Slide into view */
}

.card-no-purchase-order {
    max-width: 70vh; /* Set a maximum width */
    min-height: 70vh;
    margin: auto; /* Center the card horizontally */
    background-color: #EED659;
}
.card-icon {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 5vh;
}
.btn-custom {
    background-color: #FFFFFF;
    color: #B20727;
    border: none !important
    
}
.btn-custom:hover {
    background-color: #F4F4F4;
    color: #B20727;
}
.btn-custom:active {
    background-color: #E9E9E9 !important; /* Custom active background color */
    color: #B20727 !important; /* Custom active text color */
    transform: scale(0.98); /* Optional: Add a slight scale effect */
    box-shadow: none !important; /* Remove Bootstrap's box-shadow */
    border: none !important
}

.btn-custom:active {
    background-color: #E9E9E9 !important; /* Custom active background color */
    color: #B20727 !important; /* Custom active text color */
    transform: scale(0.98); /* Optional: Add a slight scale effect */
    box-shadow: none !important; /* Remove Bootstrap's box-shadow */
    border: none !important
}

.card {
    background-color: #EED659;
}

.to-receive-input{
 text-align: right;
 border: none;
 border-bottom: solid;
 border-width: .1em;
 width: 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-group{
    margin-top: 20px;
}